* {
    border-radius: 10px; 
    box-sizing: border-box; 
}

html, body {
    height: 100vh;
    min-height: 100vh;
}

div {
    border: 2px solid black;
    padding: 1vh;
}

#main_container {
    display: flex;
}

#title {
    text-align: center;
}

#input_data {
    width: 80%;
}

#input_section > *{
    margin: 1vh;
}

#stat_sheet {
    width: 20%;
}