* {
    border-radius: 10px; 
    box-sizing: border-box; 
}

html, body {
    height: 100vh;
    min-height: 100vh;
}

input,select {
    padding-left: 10px;
}

div {
    border: 2px solid black;
    padding: 1vh;
}

#main_container {
    display: flex;
}

#title {
    text-align: center;
}

#input_data {
    width: 80%;
    text-align: center;
}

#input_section > *{
    margin: 1vh;
    width: 30vh;
}

#stat_sheet {
    width: 20%;
}

#roll_space{
    display: flex;
    justify-content: center;
    align-items: center;
}

#roll_space > div {
    position: relative;
    transform: translate(50%, 0%);
}

#dice_rolling > div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

#dice_container > div {
    padding: 30px;
}

button {
    font-size: 16px;
    padding: 10px;
    width: 100px;
    margin-left: 40%;
}

#stat_inputs > div {
    padding: 25px;
}