<!DOCTYPE html>
<html>
    <head>
        <title>ArcaneEngine</title>
        <link rel="stylesheet" href="../static/characterCreation.css">
    </head>
    <body>
        <div id="main_container">
            <div id="stat_sheet">
                <h2 align="center">Stats & Info</h2>
                <div id="saving_throws">
                    <b>Saving Throws:</b> <br>
                    <input type="radio" disabled id="saving_str"> ## Strength <br>
                    <input type="radio" disabled id="saving_dex"> ## Dexterity<br>
                    <input type="radio" disabled id="saving_const"> ## Constitution<br>
                    <input type="radio" disabled id="saving_int"> ## Intelligence<br>
                    <input type="radio" disabled id="saving_wis"> ## Wisdom<br>
                    <input type="radio" disabled id="saving_Char"> ## Charisma<br>
                </div>
                <div id="skills">
                    <b>Skills</b> <br>
                    <input type="radio" disabled id="skill_acro"> ## Acrobatics <br>
                    <input type="radio" disabled id="skill_anim_handle"> ## Animal Handling<br>
                    <input type="radio" disabled id="skill_arcana"> ## Arcana <br>
                    <input type="radio" disabled id="skill_athlet"> ## Athletics <br>
                    <input type="radio" disabled id="skill_decept"> ## Deception <br>
                    <input type="radio" disabled id="skill_history"> ## History <br>
                    <input type="radio" disabled id="skill_insight"> ## Insight <br>
                    <input type="radio" disabled id="skill_intimid"> ## Intimidation <br>
                    <input type="radio" disabled id="skill_invest"> ## Investigation <br>
                    <input type="radio" disabled id="skill_medic"> ## Medicine<br>
                    <input type="radio" disabled id="skill_nature"> ## Nature <br>
                    <input type="radio" disabled id="skill_percept"> ## Perception <br>
                    <input type="radio" disabled id="skill_perform"> ## Performance <br>
                    <input type="radio" disabled id="skill_persuas"> ## Persuasion <br>
                    <input type="radio" disabled id="skill_religion"> ## Religion <br>
                    <input type="radio" disabled id="skill_thief"> ## Sleight of Hand <br>
                    <input type="radio" disabled id="skill_stealth"> ## Stealth <br>
                    <input type="radio" disabled id="skill_surviv"> ## Survival <br>
                </div>
                <div id="trait_container"></div>
            </div>
            <div id="input_data">
                <div id="title"><h1>Character Name</h1></div>
                <div id="input_section">
                    Name: <input type="text" placeholder="Name">
                    Class: <select id="class_selector">
                        <option value="warrior">Warrior</option>
                        <option value="rogue">Rogue</option>
                        <option value="mage">Mage</option>
                        <option value="ranger">Ranger</option>
                    </select>
                    Race: <select id="race_selector">
                        <option value="elf">Elf</option>
                        <option value="orc">Orc</option>
                        <option value="human">Human</option>
                        <option value="dwarf">Dwarf</option>
                    </select>
                </div>
                <div id="dice_rolling">
                    <div id="dice_container">
                        <div id="dice1">1</div>
                        <div id="dice2">2</div>
                        <div id="dice3">3</div>
                        <div id="dice4">4</div>
                        <div id="dice5">5</div>
                        <div id="dice6">6</div>
                        <div id="sum_dice">0</div>
                    </div>
                    <div id="stat_inputs">
                        <div id="strength">strength</div>
                        <div id="dex">dexterity</div>
                        <div id="constit">constitution</div>
                        <div id="intel">intelligence</div>
                        <div id="wisdom">wisdom</div>
                        <div id="charm">charisma</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>