<!DOCTYPE html>
<html>
    <head>
        <title>ArcaneEngine</title>
        <link rel="stylesheet" href="../static/characterCreation.css">
    </head>
    <body>
        <div id="main_container">
            <div id="stat_sheet">
                <h2 align="center">Stats & Info</h2>
                <div id="stat_container">
                    <h4 id="wisdowm">Wisdom: 10</h4> 
                    <h4 id="wisdowm">Wisdom: 10</h4> 
                    <h4 id="wisdowm">Wisdom: 10</h4> 
                    <h4 id="wisdowm">Wisdom: 10</h4> 
                    <h4 id="wisdowm">Wisdom: 10</h4> 
                    <h4 id="wisdowm">Wisdom: 10</h4> 
                </div>
                <div id="trait_container"></div>
            </div>
            <div id="input_data">
                <div id="title"><h1>Character Name</h1></div>
                <div id="input_section">
                    Name: <input type="text" placeholder="Name">
                    Class: <select id="class_selector">
                        <option value="warrior">Warrior</option>
                        <option value="rogue">Rogue</option>
                        <option value="mage">Mage</option>
                        <option value="ranger">Ranger</option>
                    </select>
                    Race: <select id="race_selector">
                        <option value="elf">Elf</option>
                        <option value="orc">Orc</option>
                        <option value="human">Human</option>
                        <option value="dwarf">Dwarf</option>
                    </select>
                    <div id="dice_rolling"></div>
                </div>
            </div>
        </div>
    </body>
</html>