<!DOCTYPE html>
<html>
    <head>
        <title>ArcaneEngine</title>
        <link rel="stylesheet" href="../static/characterCreation.css">
    </head>
    <body>
        <div id="main_container">
            <div id="stat_sheet">
                <h2 align="center">Stats & Info</h2>
                <div id="saving_throws">
                    <h4 id="saving_str">Strength: 10</h4> 
                    <h4 id="saving_dex">Dexterity: 10</h4> 
                    <h4 id="saving_const">Constitution: 10</h4> 
                    <h4 id="saving_int">Intelligence: 10</h4> 
                    <h4 id="saving_wis">Wisdom: 10</h4> 
                    <h4 id="saving_Char">Charisma: 10</h4> 
                </div>
                <div id="trait_container"></div>
            </div>
            <div id="input_data">
                <div id="title"><h1>Character Name</h1></div>
                <div id="input_section">
                    Name: <input type="text" placeholder="Name">
                    Class: <select id="class_selector">
                        <option value="warrior">Warrior</option>
                        <option value="rogue">Rogue</option>
                        <option value="mage">Mage</option>
                        <option value="ranger">Ranger</option>
                    </select>
                    Race: <select id="race_selector">
                        <option value="elf">Elf</option>
                        <option value="orc">Orc</option>
                        <option value="human">Human</option>
                        <option value="dwarf">Dwarf</option>
                    </select>
                </div>
                <div id="dice_rolling">
                    <div id="dice_container">
                        <div id="dice1">1</div>
                        <div id="dice2">2</div>
                        <div id="dice3">3</div>
                        <div id="dice4">4</div>
                        <div id="dice5">5</div>
                        <div id="dice6">6</div>
                        <div id="sum_dice">0</div>
                    </div>
                    <div id="stat_inputs">
                        <div id="strength">strength</div>
                        <div id="dex">dexterity</div>
                        <div id="constit">constitution</div>
                        <div id="intel">intelligence</div>
                        <div id="wisdom">wisdom</div>
                        <div id="charm">charisma</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>